<style>
    img.img-responsive { display: table-cell; max-width: 100%; margin-left: auto; margin-right: auto;}
    .platformbox {margin-right:20px; border:1px dotted grey; padding-bottom: 10px; margin-top: 20px;}
    .platformbox:hover { background-color: #e9f5fb; }
    .platformbox a { color: black; text-decoration: none; }
</style>

<script>
$( document ).ready(function() {

  var is_chrome = navigator.userAgent.indexOf('Chrome') > -1;
  var is_explorer = navigator.userAgent.indexOf('MSIE') > -1;
  var is_firefox = navigator.userAgent.indexOf('Firefox') > -1;
  var is_safari = navigator.userAgent.indexOf("Safari") > -1;
  var is_opera = navigator.userAgent.toLowerCase().indexOf("op") > -1;
  if ((is_chrome)&&(is_safari)) {is_safari=false;}
  if ((is_chrome)&&(is_opera)) {is_chrome=false;}

  if (is_safari) {
    webshims.polyfill();
  }

{% if site.google_analytics and site.use_google_analytics %}

  var trackPlatformClick = function(versionString, url) {
    ga('send', 'event', 'outbound', 'click', versionString, {
        'transport': 'beacon' });
  };

  var trackFormDismiss = function(versionString, url) {
    ga('send', 'event', 'form', 'dismiss', versionString, {
        'transport': 'beacon' });
  };
{% else %}
  var trackPlatformClick = function(versionString, url) {};
  var trackFormDismiss = function(versionString, url) {};
{% endif %}

var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? false : sParameterName[1];
        }
    }
};

  $( '.platformbox' ).hover( function() {
    var img_selector = $(this).find('img');
    img_selector.attr("src", '/images/'+img_selector.attr('id')+'_color.png');
  }, function() {
    var img_selector = $(this).find('img');
    img_selector.attr("src", '/images/'+img_selector.attr('id')+'.png');
  } );

  $('.modal_link').click(function(){
    var host = location.protocol + '//' + location.host;
    var platform = $(this).data('platform');
    var download_link = $(this).data('url');
    var sf_PoI_platform = $(this).data('salesforce');

    //Submit tracking to google analytics
    trackPlatformClick(platform);

    //Setup to submit lead to adwords and salesforce
    var adwords_vars = {"utm_source": "SDK Free Trial Portal",
                        "utm_campaign": "", "source": "SDK Free Trial Portal", "campaign": ""};
    for (var adword in adwords_vars) {
      var avar = getUrlParameter(adword);
      if (avar) {
        adwords_vars[adword] = avar;
      }
    }

    var formCompletePage = "/formcomplete"
    var paramsString = "?source="+adwords_vars["source"]+"&redirect="+download_link;

    //Show the form only once every 7 days
      if ($.cookie('modal_shown') == null) {
         $.cookie('modal_shown', 'yes', { expires: 7, path: '/' });
         $(".modal-body #dismiss_lnk").attr("href", host+formCompletePage+paramsString);
         $(".modal-body #retURL").attr("value", host+formCompletePage+paramsString);
         $(".modal-body #PoI_platform").attr("value", sf_PoI_platform);
          $(".modal-body #00N800000057dCV").attr("value", adwords_vars["utm_campaign"]);
          $(".modal-body #00N800000057dCY").attr("value", adwords_vars["utm_source"]);
          $(".modal-body #00N34000005WjjD").attr("value", adwords_vars["campaign"]);
          $(".modal-body #lead_source").attr("value", adwords_vars["source"]);

         $('#dismiss_lnk').click(function(){
           trackFormDismiss(platform);
           $('#signup_modal').modal('hide');
         });

         $('#signup_modal').modal('show');
    }
    else {
      window.location.href = host+download_link;
    }
    return false;
  });
});
</script>

<div class="container-fluid">
  <div class="row">
  {% assign counter = 0 %}
  {% for platform in site.data.downloads.platforms %}
  {% assign counter = counter |plus: 1 %}
  {% assign modValue = counter | modulo: 4 %}
      <div class="col-xs-2 text-center platformbox">
          <a href="#" class="modal_link" data-redir="{{ site.baseurl }}/{{ platform.name | downcase | remove: ' '}}"
             data-url="{{ site.baseurl }}/{{ platform.name | downcase | remove: ' '}}" data-platform="{{ platform.name }}"
            data-disable="false" title="{{ platform.name }}" data-salesforce="{{ platform.salesForcePoIPlatform }}" data-utmcampaign="#" data-utmsource="#" data-toggle="modal">
            <img id="{{ platform.name }}" class="img-responsive" src="{{ platform.logo | prepend: site.baseurl }}"
                 title="{{ platform.name }}" />
            <strong style="font-size: 1.2vmax;" >{{platform.name}}</strong>
          </a>
      </div>
   {% if modValue == 0 %}
  </div>
  <div class="row">
  {% endif %}
  {% endfor %}
  </div>
  {% include custom/form.html %}
</div>
